---
layout: default
---
<div class="row overview">
    <div class="col-md-9">
        <ul class="post-list">
            {% for post in site.categories.article limit:10 %}
            <li>
                <h3>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h3>
                <div class="post-meta">{{post.date | date: "%Y-%m-%d" }}</div>
                <div>
                    {{ post.excerpt }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="talks" class="col-md-3">
        <h3>Talks</h3>
        <p>Wan't to meet me in person to tell me how stupid I am? You can find me at the following events:</p>
        <ul class="post-list">
            {% for event in site.events limit:10 %}
            {% if site.time < event.date %}
            <li>
                <h4>
                    <a class="post-link" href="{{ event.site | prepend: site.baseurl }}">{{ event.conference }}</a>
                    <div class="post-meta">{{event.date | date: "%Y-%m-%d" }}</div>
                </h4>
                <a class="post-link" href="{{ event.page | prepend: '_pages/' | prepend: site.baseurl }}">{{ event.title }}</a>

            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
