<h3>Talks</h3>
<p>Wan't to meet me in person to tell me how stupid I am? You can find me at the following events:</p>
<ul class="post-list">
    {% for event in site.events %}
    {% if site.time < event.date %}
    <li>
        <h4>
            <a class="post-link" href="{{ event.site | prepend: site.baseurl }}">{{ event.conference }}</a>
            <div class="post-meta">{{event.date | date: "%Y-%m-%d" }}</div>
        </h4>
        <a class="post-link" href="{{ event.page | prepend: '_pages/' | prepend: site.baseurl }}">{{ event.title }}</a>

    </li>
    {% endif %}
    {% endfor %}
</ul>